*{
    padding: 0;
    margin: 0;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

.character{
    width: 50px;
    height: 50px;
    position: relative;
    top: 150px;
}

.animate{
    animation: jump 500ms;
}

.test{
    background-color: aqua;
}

.block{
    width: 20px;
    height: 20px;
    background: url(https://toppng.com/public/uploads/thumbnail/cactus-of-mexico-svg-png-icon-free-download-cactus-black-11563585575s4bwdw0goh.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 126px;
    left: 480px;
    
    animation: block 1s linear 1s infinite;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}